
body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 120vh;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  .list-group button{
      color: black;
      text-align: left;
      font-weight: bold;
      margin-left: 5px;
      border: none;
      background: none;
  }
  .list-group button:active{
      color: #207FEE;
  }
  .list-group button:focus{
      color: #207FEE;
      outline: none;
  }
  @media (max-width: 768px) {
    #sidebar-wrapper {
      min-height: 20vh;
    }
  }
  .add-event{
    color: #0084FF;
    font-weight: bold;
  }
  .length{
    color: #FF7044;
    font-weight: bold;
  }
  .or-btn{
    background-color: #FF7044!important;
    padding: 5px 20px!important;
    cursor: decoration;
  }