.event img{
    width: 200px;
}
.signup{
 border: 2px solid gray;
 line-height: 40px;
 padding: 2px 10px;
 border-radius: 25px;
 font-weight: bold;
 cursor: pointer;
 transition: 0.5s;
}
.signup:hover{
    background-color: #FF7044;
    color: white;
}
.signup img{
    width: 8%;
    margin-top: 3px;
    margin-left: -4px;
}
.signup span{
    text-align: center!important;
}